.main-parent {
    display: flex;
}

.content {
    width: 50%;
    font-family: "Montserrat";
}

.content,h1 {
    color: #5093B8;
    text-align: center;
}

.user-post {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    padding:2%;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #5093B8;
    border-radius: 10px;
}

.user-post textarea {
    outline: none;
    width: 80%;
    height: 7vh;
    resize: none;
    padding: 5px;
    font-family: 'Montserrat';
    font-weight: 700;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

.other-post {
    padding: 5px;
    margin: 20px;
    color: white;
    background-color: #5093B8;
    border-radius: 10px;
    text-align: left;
}

.btn-cont {
    margin-top: 1vh;
    width: 86%;
}

.btn-post {
    font-family: 'Montserrat';
    font-weight: 700;
    float: right;
    background-color: #4267B2;
    color: white;
    padding: 5px;
    width: 20%;
    border: none;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.post-buttons-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.post-buttons {
    border: none;
    border-radius: 5px;
    background-color: #4267B2;
    color: white;
    width: 10%;
    padding: 5px;
    transition: 0.2s all ease-in-out;
}


/* hover animations */
.btn-post:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.post-buttons:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* active animations */
.user-post textarea:focus {
    font-size: 18px;
    transform: scale(1.1);
}