body{
    background-color: #212121;
}
.container {
    border-radius: 20px;
    background-color: #363535;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    width: 30%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    /* center the div */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    padding: 7px;
    overflow: hidden;
}

input, button{
    font-size: 16px;
    padding: 5px;
}

input {
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #4267B2;
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
}

#login {
    width: 200px;
    align-self: center;
    background-color:#4267B2;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

/* hover animations */

#login:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #00bb27;
}

input:hover{
    transform: scale(1.05);
}

/* focus animations */

input:focus {
    transform: scale(1.05);
}