/* colors #F8D49E #F7E6CA #64C4C3 #5093B8 */
body{
    background-color: #F7E6CA;
}


.container {
    border-radius: 20px;
    background-color: #64C4C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 400px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    /* center the div */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    padding: 7px;
    overflow: hidden;
}

#l-email, #l-password {
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #5093B8;
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
    padding: 5px;
    font-size: 16px;
}

#login {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    align-self: center;
    background-color:#4267B2;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

/* hover animations */

#login:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #00bb27;
}

#l-email:hover, #l-password:hover{
    transform: scale(1.02);
}

/* focus animations */

#l-email:focus, #l-password:focus {
    outline:none;
    transform: scale(1.02);
}