*{
    box-sizing: border-box;
}

body{
    background-color: #23375e;
}
.profile-container{
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-card{
    /* border: 1px solid red; */
    background-color: #3c5fa3;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    width: auto;
    height: 500px;
    text-align: center;
}

.profile-card h2{
    font-size: 20px;
}

.user-stats{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-evenly;
}

.stats-container{
    border: 1px solid green;
    height: 100px;
    width: 30%;
}