.signup-container {
    border-radius: 20px;
    background-color: #64C4C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    /* center the div */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    padding: 7px;
    overflow: hidden;
}

.signup-form input{
    outline: none;
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #5093B8;
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
    padding: 5px;
    font-size: 16px;
}

#signup {
    width: 75%;
    padding: 5px;
    font-size: 16px;
    align-self: center;
    background-color:#4267B2;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: white;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.error-div{
    transition: 0.1s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(248, 212, 158, 0.75);
    opacity: 0;
    color: white;
}

.invalid{
    color: red;
}
.valid{
    color:green
}

/* hover animations */
#signup:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #00bb27;
}